.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width:1440px) {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
    }

    @media screen and (max-width:965px) {
        max-width: 720px;
        width: 100%;
        margin: 0 auto;
    }

    @media screen and (max-width:724px) {
        max-width: 540px;
        width: 100%;
        margin: 0 auto;
    }

    @media screen and (max-width:542px) {
        max-width: 434px;
        width: 100%;
        margin: 0 auto;
    }

    @media screen and (max-width:433px) {
        max-width: 360px;
        width: 100%;
        margin: 0 auto;
    }
}