@use "reset";
@use "general";



header {
    .header {
        background: url(../images/desktop-hero-section.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 862px;

        &-content {
            padding-top: 295px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @media screen and (max-width:542px) {
                form {
                    display: none;
                }
            }

            &-title {
                font-family: 'Josefin Sans', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 52px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 8px;
            }

            &-paragraph {
                font-family: 'Josefin Sans', sans-serif;
                display: block;
                font-weight: 400;
                font-size: 22px;
                line-height: 28px;
                letter-spacing: 0.31em;
                color: #FFFFFF;
                margin-bottom: 48px;
            }

            &-search {
                font-family: 'Josefin Sans', sans-serif;
                width: 647px;
                height: 60px;
                left: calc(50% - 647px/2 + 0.5px);
                top: 431px;
                background: #FFFFFF;
                outline: none;
                border: none;
                padding: 17px 33px;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2em;
                color: #999999;
                margin-bottom: 211px;

                @media screen and (max-width:724px) {
                    width: 540px;
                }

            }

            &-search:focus {
                border: 3px solid #5373FD;
            }

            &-button {
                font-family: 'Aleo', serif;
                border: none;
                padding: 16px 24px;
                gap: 10px;
                position: absolute;
                width: 139px;
                height: 52px;
                left: calc(50% - 139px/2 + 249.5px);
                top: 435px;
                background: #5373FD;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;

                @media screen and (max-width:724px) {
                    position: absolute;
                    left: calc(50% - 69.5px + 194.5px);
                }

                >svg {
                    width: 16px;
                    height: 16px;
                    left: 24px;
                    top: 18px;
                }
            }

            &-button:hover {
                background: #384ead;
            }
        }

        &-scroll {
            @media screen and (max-width:542px) {
                position: relative;
                top: 270px;
            }

            &-navigation {
                text-decoration: none;
                display: block;


                &>span {
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    letter-spacing: 0.2em;
                    color: #FFFFFF;
                    margin-bottom: 4px;
                }

                >svg {
                    display: block;
                    margin: 0 auto;

                }


            }
        }
    }
}


.navigation {
    height: 84px;
    background: #5373FD;

    // @media screen and (max-width:431px) {
    //     display: none;
    // }

    @media screen and (max-width:965px) {
        height: 136px;
    }

    @media screen and (max-width:542px) {
        height: 84px;
    }

    &-map {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width:965px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &_logo {
            padding: 32px;
        }

        &_category {
            padding: 32px;

            @media screen and (max-width:965px) {
                padding: 0 40px;
            }

            @media screen and (max-width:542px) {
                padding: 0;
            }

            .nav>ul {
                display: flex;
                justify-content: space-between;
                padding: 0;
                margin: 0;
                gap: 40px;


                >li {
                    >a {
                        font-family: 'Aleo', serif;
                        text-decoration: none;
                        position: relative;
                        margin: 0;
                        padding: 0;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                    }

                    >a:hover {
                        color: #bdbdbd;
                    }
                }
            }

            #burger,
            [for=burger] {
                display: none;
            }


            @media screen and (max-width:542px) {
                [for=burger] {
                    display: block;
                    position: absolute;
                    width: 40px;
                    height: 24px;
                    text-align: center;
                    right: 20px;
                    bottom: 15%;
                }

                .nav {
                    display: none;
                }

                #burger:checked+label+.nav {
                    display: block;
                    position: relative;
                    width: 432px;

                    @media screen and (max-width:433px) {
                        width: 350px;
                    }
                }

                .nav {
                    >.header__nav-list {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background: #5373FD;
                        padding: 30px 0;
                        gap: 32px;
                    }
                }
            }
        }
    }
}

.why-choose-us {
    background: url(../images/desktop-section-three.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    &-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 124px;

        @media screen and (max-width:965px) {
            display: flex;
            flex-direction: column-reverse;
        }

        @media screen and (max-width:965px) {
            padding-bottom: 60px;
        }

        &_left {
            padding-top: 190px;

            @media screen and (max-width:965px) {
                padding-top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

            }

            h2 {
                font-family: 'Aleo', serif;
                font-weight: 400;
                font-size: 36px;
                line-height: 40px;
                text-transform: capitalize;
                color: #FFFFFF;
                margin-bottom: 24px;
            }

            p {
                font-family: 'Josefin Sans', sans-serif;
                max-width: 648px;
                font-weight: 300;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.1em;
                color: #FFFFFF;
                margin-bottom: 30px;

                @media screen and (max-width:1440px) {
                    max-width: 550px;

                }

                @media screen and (max-width:965px) {
                    max-width: 720px;

                }

            }

            .button {
                font-family: 'Aleo', serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.07em;
                text-transform: uppercase;
                color: #FFFFFF;
                border: none;
                width: 213px;
                height: 60px;
                left: 0px;
                bottom: 0px;
                background: #5373FD;
                cursor: pointer;
            }

            .button:hover {
                background: #384ead;
            }
        }

        &_right {
            padding-top: 124px;
            max-width: 424px;

            @media screen and (max-width:965px) {
                padding-top: 60px;
                margin-bottom: 32px;
            }

            @media screen and (max-width:965px) {
                display: flex;
                justify-content: space-between;
                gap: 24px;
            }

            @media screen and (max-width:724px) {
                margin-bottom: 37px;
            }

            .img1 {
                width: 350px;
                height: 220px;
                margin-bottom: 16px;

                @media screen and (max-width:965px) {
                    width: 348p;
                    height: 219px;
                    padding-bottom: 0;
                }

                @media screen and (max-width:724px) {
                    width: 258px;
                    height: 162px;
                }

                @media screen and (max-width:542px) {
                    height: 100px;
                    width: 170px;
                }
            }

            .img2 {
                width: 350p;
                height: 220px;
                display: block;
                padding-left: 74px;

                @media screen and (max-width:965px) {
                    width: 348p;
                    height: 219px;
                    padding-left: 0;

                }

                @media screen and (max-width:724px) {
                    width: 258px;
                    height: 162px;
                }

                @media screen and (max-width:542px) {
                    height: 100px;
                    width: 170px;
                }
            }
        }

    }
}

.search-places {
    background: #333333;
    height: 306px;

    @media screen and (max-width:965px) {
        height: 658px;
    }

    &-items {

        >ul {
            background: url(/images/line.png);
            background-repeat: no-repeat;
            background-position: right 52% bottom 91%;
            background-size: 78%;
            padding-top: 122px;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width:1429px) {
                background-position: right 52% bottom 81%;
                background-size: 74%;
            }

            @media screen and (max-width:724px) {
                max-width: 540px;
                width: 100%;
                margin: 0 auto;
            }

            @media screen and (max-width:965px) {
                background-image: none;
                padding-top: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &_item {
            >svg {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;

            }

            >span {
                font-family: 'Aleo', serif;
                font-style: normal;
                font-weight: 400;
                font-size: 36px;
                line-height: 40px;
                text-align: center;
                text-transform: capitalize;
                color: #FFFFFF;

                @media screen and (max-width:965px) {
                    display: block;
                    margin-bottom: 59px;
                }

            }
        }
    }
}

.hotel {
    background: url(../images/desktop-section-two.jpg);
    height: 684px;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width:965px) {
        height: 588px;

    }

    &-content-container {
        @media screen and (max-width:965px) {
            position: relative;
            top: 142px;

        }

        max-width: 648px;
        width: 100%;
        background: rgba(35, 35, 35, 0.9);
        top: 220px;
        position: relative;

        @media screen and (max-width:1440px) {
            max-width: 558px;
            width: 100%;
        }

        @media screen and (max-width:965px) {
            max-width: 720px;
            width: 100%;
        }

        .hotel-content {
            @media screen and (max-width:542px) {
                >.position-button {
                    display: flex;
                    justify-content: center;
                }
            }


            &-subTitle {
                display: block;
                font-family: 'Josefin Sans', sans-serif;
                padding: 14px 32px 16px;
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0.1em;
                color: #FFFFFF;
            }

            &-title {
                font-family: 'Josefin Sans', sans-serif;
                padding: 0 32px 16px;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                text-transform: uppercase;
                color: #FFFFFF;

            }

            &-text {
                padding: 0 32px 24px;
                font-family: 'Josefin Sans', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.1em;
                color: #FFFFFF;

            }

            .button {
                margin: 0 32px 44px;
                font-family: 'Aleo', serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.07em;
                text-transform: uppercase;
                color: #FFFFFF;
                border: none;
                width: 213px;
                height: 60px;
                left: 0px;
                bottom: 0px;
                background: #5373FD;
                cursor: pointer;
            }

            .button:hover {
                background: #384ead;
            }
        }
    }
}

.relax {
    background: url(../images/desktop-section-four.jpg);
    height: 684px;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width:965px) {
        height: 588px;
    }

    &-content {
        left: 58%;
        top: 220px;
        position: relative;
        max-width: 649px;
        width: 100%;
        background: rgba(35, 35, 35, 0.9);


        @media screen and (max-width:1440px) {
            left: 41.7%;
            top: 220px;
            position: relative;
            max-width: 558px;
            width: 100%;
        }

        @media screen and (max-width:965px) {
            max-width: 720px;
            width: 100%;
            position: relative;
            top: 126px;
            left: 0%;
        }

        @media screen and (max-width:542px) {
            >.position-button {
                display: flex;
                justify-content: center;
            }
        }

        &-subTitle {
            display: block;
            font-family: 'Josefin Sans', sans-serif;
            padding: 14px 32px 16px;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
        }

        &-title {
            font-family: 'Josefin Sans', sans-serif;
            padding: 0 32px 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            text-transform: uppercase;
            color: #FFFFFF;

        }

        &-text {
            padding: 0 32px 24px;
            font-family: 'Josefin Sans', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.1em;
            color: #FFFFFF;

        }

        .button {
            margin: 0 32px 44px;
            font-family: 'Aleo', serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: #FFFFFF;
            border: none;
            width: 213px;
            height: 60px;
            left: 0px;
            bottom: 0px;
            background: #5373FD;
            cursor: pointer;
        }

        .button:hover {
            background: #384ead;
        }
    }
}

.reviews {
    background: url(../images/desktop-section-five.jpg) no-repeat center;
    padding-bottom: 180px;
    background-size: cover;

    @media screen and (max-width:965px) {
        padding-bottom: 120px;
    }

    @media screen and (max-width:542px) {
        padding-bottom: 80px;
    }

    &-content {
        &-title {
            padding-top: 120px;
            font-family: 'Aleo', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 40px;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-bottom: 60px;

            @media screen and (max-width:965px) {
                padding-top: 60px;
            }
        }

        &-object {
            display: flex;
            background: #333333;

            @media screen and (max-width:965px) {
                display: flex;
                flex-direction: column;
            }

            &_img {
                width: 380px;
                height: 310px;
                object-fit: cover;

                @media screen and (max-width:1440px) {
                    width: 320px;
                    height: 336px;
                    height: auto;
                }

                @media screen and (max-width:965px) {
                    width: 100%;
                    height: 336px;
                }

                @media screen and (max-width:724px) {
                    width: 100%;
                }
            }

            &_text {
                max-width: 885px;
                padding: 48px 65px 78px 60px;

                @media screen and (max-width:1440px) {
                    max-width: 640px;
                }

                @media screen and (max-width:965px) {
                    max-width: 100%;
                    padding: 48px 60px;
                }

                >h3 {
                    font-family: 'Josefin Sans', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 28px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-bottom: 16px;
                }

                >p {
                    font-family: 'Josefin Sans', sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: 0.1em;
                    color: #FFFFFF;

                }
            }
        }
    }
}

.footer {
    height: 268px;
    background: #000000;

    &-content {
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        &_logo {
            padding-top: 80px;
            display: block;
            margin: 0 auto;
            margin-bottom: 8px;
        }

        &_desk {
            font-family: 'Josefin Sans', sans-serif;
            margin: 0 auto;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            margin-bottom: 22px;

        }

        &_list {
            display: flex;
            justify-content: space-around;
            gap: 33px;

            >li>a>svg {
                fill: white;
            }

            >li>a>svg:hover {
                fill: #5373FD;
            }
        }
    }
}